h4{
    margin-bottom: 5px;
}
.hndle{
    font-size: 1.3em !important;
    cursor: default;    
}
.aiomh-box{
    background-color: #FCFCFC;
    padding: 10px 20px;
    border: 1px solid #F4F4F4;
    overflow: hidden;
    margin-top: 5px;
    margin-bottom: 5px;
}
.aiomh-box input:focus, .aiomh-box select:focus, .aiomh-box textarea:focus {
    outline: none;
    border-top-color: #CCC;
    border-right-color: #CCC;
    border-bottom-color: #CCC;
    border-left-color: #CCC;
}
.aiomh-ccb, .aiomh-ccb *{
	cursor: pointer;
}
.aiomh-cb{
    background-color: #FFFFFF !important;
    border: 3px solid #EEE !important;
    padding: 10px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;

    width: 48px;
    text-indent: -9999px;
    background-position: center center;
    background-repeat: no-repeat;
}

.aiomh-cb-on {
    background-image: url(../images/on.png);
}
.aiomh-cb-off {
    background-image: url(../images/off.png);
}

.aiomh-cb-lb {
    margin-left: -10px;
    margin-right: 15px;
    background-color: #F4F4F4;
    border: 1px solid #EEE;
    padding: 9px 5px;
}

.aiomh-hcb{
    padding-left: 50px;
}
input[type="range"]{
	vertical-align: middle;
}
.dnone{display: none;}
#aiomh_form_setting #submit{
    position: fixed;
    bottom: 10px;
    z-index: 999999999;    
}

/**************** Change prefix *************/
.lable01 {

    float: left;

    margin: 0px;

    padding: 0px;

    width: 100%;

}

.ttl02 {

    width: 150px;

    float: left;

}

.cdp-container{

   margin-top:20px;margin-bottom:10px;

}

.required,.error{color:#ff0000;}

.success{color:#0000FF;font-size:12px;}

.hndle{

    font-size: 14px;

    padding: 8px 12px;

    margin: 0;

    line-height: 1.4;

}

#cdp-wrap-div .postbox .inside, .stuffbox .inside {

    padding: 0 12px 12px;

    line-height: 1.4em;

    font-size: 13px;

}

.cdp{

    padding-top: 0 !important;

    padding-bottom: 0 !important;

}

.cdp-data {

    list-style-type: none;

    list-style-position: outside;

    list-style-image: none;

}
.dbprefix-error{background-color:#eebbbb;width:500px;padding:10px;}
.dbprefix-success{background-color:#bbeebb;width:500px;padding:10px;}
#aiomh-form-prefix {display: none;}
#aiomh-form-prefix .submit{padding: 0;}